<div
  [@listAnimation]
  class="relative w-full max-w-md max-h-[400px] overflow-y-auto p-4 bg-[#060010]
         rounded-xl border border-[#222] text-white"
>
  <div
    *ngFor="let item of items; let i = index"
    class="list-item p-2 mb-1 rounded-md cursor-pointer transition-all duration-200 bg-white hover:bg-gray-100 text-gray-800 border border-transparent hover:border-blue-300"
    [class.bg-blue-50]="selectedIndex === i"
    (click)="selectItem(item, i)"
  >
    {{ item }}
  </div>
</div>
